In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data Visualization and Exploratory Data Analysis Lab
## Visualizing and exploring data. The data mining process

In this lab, you'll get acquainted with the most streamed songs on Spotify in 2024. The dataset and its associated metadata can be found [here](https://www.kaggle.com/datasets/nelgiriyewithana/most-streamed-spotify-songs-2024). The version you'll need is provided in the `data/` folder.

You know the drill. Do what you can / want / need to answer the questions to the best of your ability. Answers do not need to be trivial, or even the same among different people.

### Problem 1. Read the dataset (1 point)
Read the file without unzipping it first. You can try a different character encoding, like `unicode_escape`. Don't worry too much about weird characters.

In [ ]:
data = pd.read_csv("data/spotify_most_streamed_2024.zip",compression='zip',encoding="unicode_escape")

To begin with, we can see that the file is zipped. This means that we have to use some other arguments. I used:
1. ```compression='zip'```, since we are reading a zipped file
2. ```encoding="unicode_escape"```, since utf-8 does not work propery and throws an error

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,9/5/2017,QM8DG1703420,"4,585",19.4,"305,049,963","65,770","5,103,054",...,NaN,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",NaN,1
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575",19.4,"52,282,360","4,602","1,449,767",...,NaN,1.0,927,NaN,NaN,NaN,NaN,"193,590",NaN,0
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2/28/2020,USUG12000043,"4,571",19.4,"189,972,685","72,066","6,704,802",...,NaN,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",NaN,1
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591",19.4,"145,467,020","14,037","7,387,064",...,NaN,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",NaN,0
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arcï¿½ï¿½,4/11/2017,USB271700107,"4,593",19.4,"255,740,653","32,138","14,066,526",...,NaN,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",NaN,1

### Problem 2. Perform some cleaning (1 point)
Ensure all data has been read correctly; check the data types. Give the columns better names (e.g. `all_time_rank`, `track_score`, etc.). To do so, try to use `apply()` instead of a manual mapping between old and new name. Get rid of any unnecessary ones.

In [20]:
data

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,9/5/2017,QM8DG1703420,"4,585",19.4,"305,049,963","65,770","5,103,054",...,NaN,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",NaN,1
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575",19.4,"52,282,360","4,602","1,449,767",...,NaN,1.0,927,NaN,NaN,NaN,NaN,"193,590",NaN,0
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2/28/2020,USUG12000043,"4,571",19.4,"189,972,685","72,066","6,704,802",...,NaN,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",NaN,1
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591",19.4,"145,467,020","14,037","7,387,064",...,NaN,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",NaN,0
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arcï¿½ï¿½,4/11/2017,USB271700107,"4,593",19.4,"255,740,653","32,138","14,066,526",...,NaN,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",NaN,1

In [24]:
data.columns

Index(['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC',
       'All Time Rank', 'Track Score', 'Spotify Streams',
       'Spotify Playlist Count', 'Spotify Playlist Reach',
       'Spotify Popularity', 'YouTube Views', 'YouTube Likes', 'TikTok Posts',
       'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach',
       'Apple Music Playlist Count', 'AirPlay Spins', 'SiriusXM Spins',
       'Deezer Playlist Count', 'Deezer Playlist Reach',
       'Amazon Playlist Count', 'Pandora Streams', 'Pandora Track Stations',
       'Soundcloud Streams', 'Shazam Counts', 'TIDAL Popularity',
       'Explicit Track'],
      dtype='object')

Let us begin our EDA.

In [19]:
print(f"Shape of the data: {data.shape}")
print(f"\nData types:\n{data.dtypes}")

Shape of the data: (4600, 29)

Data types:
Track                          object
Album Name                     object
Artist                         object
Release Date                   object
ISRC                           object
All Time Rank                  object
Track Score                   float64
Spotify Streams                object
Spotify Playlist Count         object
Spotify Playlist Reach         object
Spotify Popularity            float64
YouTube Views                  object
YouTube Likes                  object
TikTok Posts                   object
TikTok Likes                   object
TikTok Views                   object
YouTube Playlist Reach         object
Apple Music Playlist Count    float64
AirPlay Spins                  object
SiriusXM Spins                 object
Deezer Playlist Count         float64
Deezer Playlist Reach          object
Amazon Playlist Count         float64
Pandora Streams                object
Pandora Track Stations         object
Soundcloud Streams             object
Shazam Counts                  object
TIDAL Popularity              float64
Explicit Track                  int64
dtype: object

In [30]:
data.isna().sum()

Track                            0
Album Name                       0
Artist                           5
Release Date                     0
ISRC                             0
All Time Rank                    0
Track Score                      0
Spotify Streams                113
Spotify Playlist Count          70
Spotify Playlist Reach          72
Spotify Popularity             804
YouTube Views                  308
YouTube Likes                  315
TikTok Posts                  1173
TikTok Likes                   980
TikTok Views                   981
YouTube Playlist Reach        1009
Apple Music Playlist Count     561
AirPlay Spins                  498
SiriusXM Spins                2123
Deezer Playlist Count          921
Deezer Playlist Reach          928
Amazon Playlist Count         1055
Pandora Streams               1106
Pandora Track Stations        1268
Soundcloud Streams            3333
Shazam Counts                  577
TIDAL Popularity              4600
Explicit Track                   0
dtype: int64

Let us analyze the first imformation we are comming across. Firstly, we got lots of samples with 29 features. We have objects, floats and ints. To further know if there is a problem with the `object` features we should examine them more. We also see that the column names are not consistent and there ae tons of missing values which we will have to handle somehow. Let us begin by changing the column names.

In [34]:
def func(x):
    return x.lower().replace(' ','_')
data.columns = data.columns.to_series().apply(func)
data.columns

Index(['track', 'album_name', 'artist', 'release_date', 'isrc',
       'all_time_rank', 'track_score', 'spotify_streams',
       'spotify_playlist_count', 'spotify_playlist_reach',
       'spotify_popularity', 'youtube_views', 'youtube_likes', 'tiktok_posts',
       'tiktok_likes', 'tiktok_views', 'youtube_playlist_reach',
       'apple_music_playlist_count', 'airplay_spins', 'siriusxm_spins',
       'deezer_playlist_count', 'deezer_playlist_reach',
       'amazon_playlist_count', 'pandora_streams', 'pandora_track_stations',
       'soundcloud_streams', 'shazam_counts', 'tidal_popularity',
       'explicit_track'],
      dtype='object')

In [38]:
numeric_cols = data.select_dtypes(include =["int64","float64"]).columns.tolist()
numeric_cols

['track_score',
 'spotify_popularity',
 'apple_music_playlist_count',
 'deezer_playlist_count',
 'amazon_playlist_count',
 'tidal_popularity',
 'explicit_track']

In [43]:
data_no_numerical = data[[col for col in data.columns if col not in numeric_cols]].copy() # we do copy for saftey, becuase of references

In [44]:
data_no_numerical

,track,album_name,artist,release_date,isrc,all_time_rank,spotify_streams,spotify_playlist_count,spotify_playlist_reach,youtube_views,...,tiktok_likes,tiktok_views,youtube_playlist_reach,airplay_spins,siriusxm_spins,deezer_playlist_reach,pandora_streams,pandora_track_stations,soundcloud_streams,shazam_counts
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,"390,470,936","30,716","196,631,588","84,274,754",...,"651,565,900","5,332,281,936","150,597,040","40,975",684,"17,598,718","18,004,655","22,931","4,818,457","2,669,262"
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,"323,703,884","28,113","174,597,137","116,347,040",...,"35,223,547","208,339,025","156,380,351","40,778",3,"10,422,430","7,780,028","28,444","6,623,075","1,118,279"
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,"601,309,283","54,331","211,607,669","122,599,116",...,"275,154,237","3,369,120,610","373,784,955","74,333",536,"36,321,847","5,022,621","5,639","7,208,651","5,285,340"
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,"2,031,280,633","269,802","136,569,078","1,096,100,899",...,"1,078,757,968","14,603,725,994","3,351,188,582","1,474,799","2,182","24,684,248","190,260,277","203,384",NaN,"11,822,942"
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,"107,034,922","7,223","151,469,874","77,373,957",...,NaN,NaN,"112,763,851","12,185",1,"17,660,624","4,493,884","7,006","207,179","457,017"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,9/5/2017,QM8DG1703420,"4,585","305,049,963","65,770","5,103,054","149,247,747",...,"20,202,000","143,934,379","53,016",6,NaN,"14,217","20,104,066","13,184","50,633,006","656,337"
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575","52,282,360","4,602","1,449,767","943,920,245",...,"1,721","19,935","24,973,048",412,NaN,927,NaN,NaN,NaN,"193,590"
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2/28/2020,USUG12000043,"4,571","189,972,685","72,066","6,704,802","201,027,333",...,"5,288,677","36,849,005","29,253,152",204,NaN,74,"84,426,740","28,999",NaN,"1,135,998"
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591","145,467,020","14,037","7,387,064","1,118,595,159",...,"2,534,831","37,757,301","25,150,516","1,200",NaN,NaN,"6,817,840",NaN,NaN,"448,292"
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arcï¿½ï¿½,4/11/2017,USB271700107,"4,593","255,740,653","32,138","14,066,526","866,300,755",...,"10,055,461","70,196,388","175,831,376","2,083",NaN,"127,479","69,006,739","11,320",NaN,"767,006"

In [57]:
(data_no_numerical.isna().sum().sum())/(data.isna().sum().sum()) * 100

65.17105263157895

This tells us that about 65 percent of the missing data is in the categorical columns. However, we have to handle the missing data in both categorical and numerical

For the next step I will look at the featrues individually and see if there are any that are unnecessary.

In [79]:
len(data.isrc.unique()) # less than the songs in the list

4598

In [83]:
data.isrc.value_counts()

isrc
USWL11700269    2
TCAGJ2289254    2
QM24S2402528    1
USRN11900133    1
USSD12300585    1
               ..
TCJPT2289709    1
USWL12302932    1
USUG11903492    1
GBKPL2163189    1
USB271700107    1
Name: count, Length: 4598, dtype: int64

It is weird that we see songs that actually have repearing. Let us see what is going on.

In [85]:
 data[data['isrc'].isin(['USWL11700269', 'TCAGJ2289254'])]

,track,album_name,artist,release_date,isrc,all_time_rank,track_score,spotify_streams,spotify_playlist_count,spotify_playlist_reach,...,siriusxm_spins,deezer_playlist_count,deezer_playlist_reach,amazon_playlist_count,pandora_streams,pandora_track_stations,soundcloud_streams,shazam_counts,tidal_popularity,explicit_track
2449,Tennessee Orange,Tennessee Orange,Megan Moroney,9/2/2022,TCAGJ2289254,"2,424",28.9,"227,893,586","28,139","12,480,714",...,34,5.0,"1,370",49.0,"56,972,562","26,968","1,336,043","708,143",NaN,0
2450,Tennessee Orange,Tennessee Orange,Megan Moroney,9/2/2022,TCAGJ2289254,"2,424",28.9,"227,893,586","28,139","12,480,714",...,34,5.0,"1,370",49.0,"56,972,562","26,968","1,336,043","708,143",NaN,0
3447,Dembow,Dembow,Danny Ocean,12/8/2017,USWL11700269,"3,441",23.3,"579,189,526","60,397","11,805,084",...,9,20.0,"37,649",12.0,"6,723,858","7,832",NaN,"1,619,550",NaN,0
3450,Dembow,Dembow,Danny Ocean,12/8/2017,USWL11700269,"3,441",23.3,"579,189,526","60,397","11,805,084",...,9,20.0,"37,649",12.0,"6,723,858","7,832",NaN,"1,619,550",NaN,0

We see that there are 2 repeating samples and we are going to remove them from the data.

In [88]:
data = data.drop_duplicates()
data.shape

(4598, 29)

In [91]:
data.spotify_playlist_reach # info as to how many listeners are reaching this music throguh different playlists

0       196,631,588
1       174,597,137
2       211,607,669
3       136,569,078
4       151,469,874
           ...
4595      5,103,054
4596      1,449,767
4597      6,704,802
4598      7,387,064
4599     14,066,526
Name: spotify_playlist_reach, Length: 4598, dtype: object

Something interesting here is that we dont know how popularity is actually calculated. Let us see how it varies

In [97]:
print(data.spotify_popularity)
print(f"\nDescription of popularity:\n {data.spotify_popularity.describe()}")

0       92.0
1       92.0
2       92.0
3       85.0
4       88.0
        ...
4595    71.0
4596    56.0
4597    65.0
4598    66.0
4599    64.0
Name: spotify_popularity, Length: 4598, dtype: float64

Description of popularity:
 count    3794.000000
mean       63.498682
std        16.189952
min         1.000000
25%        61.000000
50%        67.000000
75%        73.000000
max        96.000000
Name: spotify_popularity, dtype: float64

In [101]:
data[data.spotify_popularity == 96.000]

,track,album_name,artist,release_date,isrc,all_time_rank,track_score,spotify_streams,spotify_playlist_count,spotify_playlist_reach,...,siriusxm_spins,deezer_playlist_count,deezer_playlist_reach,amazon_playlist_count,pandora_streams,pandora_track_stations,soundcloud_streams,shazam_counts,tidal_popularity,explicit_track
36,A Bar Song (Tipsy),A Bar Song (Tipsy),Shaboozey,4/12/2024,USUYG1541249,37,226.4,"311,928,522","25,766","180,237,463",...,141,58.0,"26,516,005",146.0,"21,453,034","30,180","4,482,348","1,707,213",NaN,1

From this information I lately notice that there is no specific order in which the songs have been added in the dataset, since songs with more reach, popularity are further behind

One more important thing is the `tidal_popularity`. It is all NaN, therefore we are going to drop it from the data

In [104]:
data = data.drop(columns = ["tidal_popularity"])

KeyError: "['tidal_popularity'] not found in axis"

In [106]:
len(data.columns)

28

This is what I have come up with as for the start, let us move forward.

### Problem 3. Most productive artists (1 point)
Who are the five artists with the most songs in the dataset?

Who are the five "clean-mouthed" artists (i.e., with no explicit songs)? **Note:** We're not going into details but we can start a discussion about whether a song needs swearing to be popular.

Let's find out more about the most productive artists.

In [108]:
artists_song = {}
for artist,grouped in data.groupby("artist"):
    artists_song[artist] = len(grouped)

In [116]:
top_5_artists = sorted(artists_song.items(),key = lambda x:x[1],reverse=True)[:5]
top_5_artists

[('Drake', 63),
 ('Taylor Swift', 63),
 ('Bad Bunny', 60),
 ('KAROL G', 32),
 ('The Weeknd', 31)]

This gives us info as to which are the top 5 artists who have the most songs. Now let us find the ones with no explicit songs.

In [141]:
explicit_artists = {}
for artist,group in data.groupby("artist"):
    if not group["explicit_track"].any():
        explicit_artists[artist] = len(group)

This would give us a dictionary with all the artists whose all songs are not explicit and as a value the number of songs they have. The next step would be ti order them by number of songs and take the top 5

In [142]:
top_5_explicit = sorted(explicit_artists.items(),key = lambda x:x[1],reverse=True)[:5]

top_5_explicit

[('Imagine Dragons', 16),
 ('BTS', 14),
 ('Linkin Park', 13),
 ('Luke Combs', 13),
 ('Bruno Mars', 12)]

Let us check if that is true however.

In [146]:
data[data.artist=="Imagine Dragons"]['explicit_track']

118     0
179     0
203     0
432     0
497     0
661     0
677     0
851     0
941     0
949     0
1519    0
1587    0
1892    0
2155    0
2643    0
2746    0
Name: explicit_track, dtype: int64

We see that it works well for Imagine Dragons and I will assume it is correct for the  others as well

However there is an easier way to do that

In [175]:
artists_no_explicit_df = data.groupby("artist").filter(lambda x: (x["explicit_track"] ==0).all())

In [176]:
artists_no_explicit_df

,track,album_name,artist,release_date,isrc,all_time_rank,track_score,spotify_streams,spotify_playlist_count,spotify_playlist_reach,...,airplay_spins,siriusxm_spins,deezer_playlist_count,deezer_playlist_reach,amazon_playlist_count,pandora_streams,pandora_track_stations,soundcloud_streams,shazam_counts,explicit_track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,3.904709e+08,"30,716","196,631,588",...,"40,975",684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",0
6,Beautiful Things,Beautiful Things,Benson Boone,1/18/2024,USWB12307016,7,407.2,9.001588e+08,"73,118","201,585,714",...,"383,478",429,168.0,"48,197,850",154.0,"65,447,476","57,372",NaN,"9,990,302",0
14,bathroom floor,bathroom floor,Kids With Buns,10/7/2022,NLC242100307,15,301.6,2.971850e+05,277,"24,445",...,"1,057",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,288",0
19,As It Was,As It Was,Harry Styles,3/31/2022,USSM12200612,20,292.0,3.301815e+09,"407,119","169,783,402",...,"1,777,811","4,909",330.0,"12,907,852",189.0,"132,624,772","79,909",NaN,"14,967,379",0
24,Future,Future,official sound studio,1/10/2024,RUA1H2415548,25,277.5,NaN,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4591,Happiest Year,Feel Something (Deluxe),Jaymes Young,6/23/2017,USAT21903715,"4,540",19.5,4.724083e+08,"84,220","23,944,018",...,563,13,10.0,"101,920",1.0,"10,855,294","18,606",NaN,"1,724,972",0
4592,3 Haselnï¿½ï¿,3 Haselnï¿½ï¿½sse - Si,Jaques Raupï¿,12/1/2023,DEN062300845,"4,595",19.4,2.582218e+07,"15,387","2,650,670",...,250,NaN,9.0,"163,999",1.0,NaN,NaN,"33,508","312,177",0
4593,"Jaragandi (From ""Game Changer"") (Telugu)","Jaragandi (From ""Game Changer"") (Telugu)",Thaman S,3/27/2024,INH102405594,"4,587",19.4,3.754914e+06,101,"1,306,604",...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,"3,169",0
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575",19.4,5.228236e+07,"4,602","1,449,767",...,412,NaN,1.0,927,NaN,NaN,NaN,NaN,"193,590",0
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591",19.4,1.454670e+08,"14,037","7,387,064",...,"1,200",NaN,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",0

And one more way to do it in just one line, for the sake of practicing the syntax of python:

In [160]:
top5_artists_no_explicit = (
    data.groupby("artist")
    .filter(lambda x: (x["explicit_track"] ==0).all())
    .groupby("artist")
    .size()
    .nlargest(5)
    .index
    .tolist())
top5_artists_no_explicit

['Imagine Dragons', 'BTS', 'Linkin Park', 'Luke Combs', 'Bruno Mars']

This returns us a dataset where each song of the artist is non_explicit

### Problem 4. Most streamed artists (1 point)
And who are the top five most streamed (as measured by Spotify streams) artists?

The first problem that we encouter is that the `dtype` of the spotify_streams is `object`. After trying to convert tho I notice something else that I should have noticed and taken care of earlier. it is that many of the object columns are just cotinuous values which should be floats or integers. To convert then we have to first replace the comma with a blank space

In [170]:
data['spotify_streams'] = data['spotify_streams'].str.replace(',', '') # we gotta replace that to be able to convert to float
data['spotify_streams'] = data['spotify_streams'].astype(float)

In [178]:
most_streamed_artists = (
    data.groupby('artist')['spotify_streams']
    .sum()
    .nlargest(5)
)
most_streamed_artists

artist
Bad Bunny       3.705483e+10
The Weeknd      3.694854e+10
Drake           3.496216e+10
Taylor Swift    3.447077e+10
Post Malone     2.613747e+10
Name: spotify_streams, dtype: float64

Something important to notice. Here, since we want to have the sum of all spotify_streams by an artist we are going to use sum. In the last problem we used size since we did not care about the value of the group, but of the size for each group.

### Problem 5. Songs by year and month (1 point)
How many songs have been released each year? Present an appropriate plot. Can you explain the behavior of the plot for 2024?

How about months? Is / Are there (a) popular month(s) to release music?

### Problem 6. Playlists (2 points)
Is there any connection (correlation) between users adding a song to playlists in one service, or another? Only Spotify, Apple, Deezer, and Amazon offer the ability to add a song to a playlist. Find a way to plot all these relationships at the same time, and analyze them. Experiment with different types of correlations.

### Problem 7. YouTube views and likes (1 point)
What is the relationship between YouTube views and likes? Present an appropriate plot. 

What is the mean YouTube views-to-likes ratio? What is its distribution? Find a way to plot it and describe it.

### Problem 8. TikTok stuff (2 points)
The most popular songs on TikTok released every year show... interesting behavior. Which years peaked the most TikTok views? Show an appropriate chart. Can you explain this behavior? For a bit of context, TikTok was created in 2016.

Now, how much popular is the most popular song for each release year, than the mean popularity? Analyze the results.

In both parts, it would be helpful to see the actual songs.

### * Problem 9. Explore (and clean) at will
There is a lot to look for here. For example, you can easily link a song to its genres, and lyrics. You may also try to link artists and albums to more info about them. Or you can compare and contrast a song's performance across different platforms, in a similar manner to what you already did above; maybe even assign a better song ranking system (across platforms with different popularity metrics, and different requirements) than the one provided in the dataset.